/****************  폰트 *********************/
@font-face {
    font-family:'edosz';
    src: url(edosz.ttf) format('opentype')
}

@font-face {
    font-family:'jalnanoft';
    src: url(JalnanOTF.otf) format('opentype')

}
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.nanumpenscript * {
font-family: 'Nanum Pen Script', cursive;
}



/*************************공통 & 전체*********************/
*{padding: 0; margin: 0; font-family:'SpoqaHanSansNeo-Regular'}
.inner{width: 1200px; margin: 0 auto;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
button{border: none;}
h1{font-family:'jalnanoft';}
h3{font-size: 1.5em; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal;}
p{font-size: 16px; font-family: 'SpoqaHanSansNeo-Regular';}


/**************************헤더*****************************/

header .inner{height: 70px; text-align: center; position:relative; z-index: 99;}

/*헤더 좌우*/
/* header .inner::after, header .inner::before{display: block; content:''; clear: both;} */
header .logo{width: 250px; height: 100px; padding-top: 15px; box-sizing: border-box; background-color: #010042;
position: absolute; top: 0;
}
header nav{width: 70%; position: absolute; top: 15px; left: 300px;}

/*navi_mainmenu*/
.mainmenu::after .mainmenu::before{clear: both; content: ''; display: block;}
header nav .mainmenu > li{width: 20%; height: 50px; float: left; color: #fff; 
    transition: all 0.4s; font-weight: bolder; padding: 10px 0px; 
    box-sizing: border-box;  color:#010042;}
header nav .mainmenu > li > a:hover{border-bottom: 3px solid #010042;}

/*navi_submenu*/
header nav .submenu{display: none; position: relative; top: 15px;
    z-index: 3; width: 90%;
    border-radius: 5px; 
    background-color: rgba(225, 225, 225, 0.8);
    margin-left: 10px; overflow: hidden;
    border: 1px solid #eee;
    box-shadow: 1px 1px 2px #e0e7e7,
        -1px -1px 2px #ffffff;

}
header nav .submenu li{color: #000; transition: all 0.4s; padding: 10px 0;}
header nav .submenu li:hover {background-color: #010042; color:#fff;}



/******************************컨텐츠1*************************/

.sec1{padding-bottom: 50px;}
.con1{
    width: 100%; height: 800px;
    background-image: url(../images/surfergray.jpg);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 100px;
    box-sizing: border-box;
}
/*내용*/

.con1::before, .con1::after{display: block; content: ''; clear: both;}
.box1{width: 33%; float: left; text-align: right;}
.box2{width: 33%; float: right; text-align: left;}

.con1 .box1 h2 a{
    position: absolute;
    left: 30px; top: 130px;
    color: #010042;
}
.con1 .box2 h2 a{position: absolute; 
    right: 50px; top: 130px;
    color: #010042;
}


.select h2 a:hover{color: rgb(219, 82, 28);}

.con1 h1{font-size: 4em; margin: 100px; font-family:'edosz';}
.box1 p{padding-right: 100px;}
.box2 p{padding-left: 100px;}




/* 갈매기배경 */
.seagull_1{position: absolute; top: 200px; left: 700px;animation: moveup 2s infinite; }
.seagull_2{position: absolute; top: 200px; animation: moveup 10s infinite; }

@keyframes moveup{
    0%{top: 200px;}
    50%{top: 220px;}
    100%{top: 200px;}
}
/*갈매기배경end */


/******************************컨텐츠2***********#010042*******/


.sec2{width: 100%; position: relative; background-color: #cfecf2; z-index: 5; padding: 100px 0; }

/*******배경 시작************/
.wave{width: 100%;}

/* 파도_상 */
.wave > .w1{position: absolute; 
    top: -100px; 
    width: 100%;
    background-size: cover; 
    z-index: 6;
    overflow: hidden;
    text-align: center;}

.wave > .w1 img{animation: moveleft 6s infinite; background-color: #fff;}

@keyframes moveleft{
    0%{transform: translateX(-50px);}
    50%{transform: translateX( 0px);}
    100%{transform: translateX(-50px);}
}

/* 파도_하 */
.wave > .w2{
    position: absolute; bottom: -150px; left: 0; height: 150px; width: 100%;
    z-index: 6;
    overflow: hidden;
    text-align: center;
    background: url(../images/wave2.png) repeat-x;
    background-position: center 0;
    animation: bgmoveleft 8s infinite;
        /* background-color: yellow; */
    }

@keyframes bgmoveleft{
    0%{background-position: center -20px;}
    50%{background-position: center 0px;}
    100%{background-position: center -20px;}
}

/* 사람_하 */
.tube1{position: absolute; bottom: 10px; left: 40%; z-index: 99; 
        animation: rotate 3s ease-in-out infinite;}
.tube2{position: absolute; bottom: 10px; left: 60%; z-index: 99; 
        animation: rotate 3s ease-in-out infinite;}


@keyframes rotate{
    0%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg);}
    100%{transform: rotate(5deg);}
}
/*******배경끝************/
/*******내용시작**********/

.con2{width: 100%; height: 800px; text-align: center; }
.event{text-align: center;} 
.con2 h1{font-size: 2em; margin: 25px;}
.poster h3{margin-top: 30px; padding-bottom: 15px; box-sizing: border-box;}

.poster::before, .poster::after{clear: both; content: ''; display: block;}
.poster{width: 100%; height: 600px; padding: 20px; box-sizing: border-box; text-align: center;}
.post1{float: left; width: 32%; height: 500px; background-color: #fff; 
}
.post2{float: left; width: 32%; height: 500px; background-color: #fff; margin: 0 2%;
}
.post3{float: left; width: 32%; height: 500px; background-color:#fff;
}


button{width: 150px;  height: 40px; border-radius: 50px; margin-top: 20px; font-size: 1.2em; color:#fff; background-color: #010042;}

.post1:hover{background-color: #010042; color: #fff;}
.post2:hover{background-color: #010042; color: #fff;}
.post3:hover{background-color: #010042; color: #fff;}

.post1:hover > button{background-color: #fff; color: #010042;}
.post2:hover > button{background-color: #fff; color: #010042;}
.post3:hover > button{background-color: #fff; color: #010042;}

.post1 button:hover{transform:scale(1.2)}
.post2 button:hover{transform:scale(1.2)}
.post3 button:hover{transform:scale(1.2)}

/*******내용end**********/
/******************************컨텐츠2 끝***********#010042*******/

/******************************컨텐츠3 시작***********************/


.sec3{
background:
linear-gradient(180deg, rgb(14, 40, 112), rgba(71, 205, 241, 0.4) 50%, transparent);
}

.fire{position: relative; padding-top: 200px;}
.fire img:nth-child(1){width: 300px; position: absolute; left: -5%; top: 80px; animation: bomb 3s ease-in-out;}
.fire img:nth-child(2){width: 120px; position: absolute; left: -10%; top: 80px; animation: bomb 2s ease-in-out;}
.fire img:nth-child(3){width: 150px; position: absolute; left: 95%; top: 150px; animation: bomb 1.5s ease-in-out;}
.fire img:nth-child(4){width: 120px; position: absolute; left: 85%; top: 180px; animation: bomb 4s ease-in-out;}

@keyframes bomb{
    0%{transform: scale(0);}
    100%{transform: scale(100%);}
}

/* 
.fire{
    height: auto;
    background:
    url(../images/fire_blue.png),
    url(../images/fire_red.png),
    url(../images/fire_blue.png) no-repeat,
    url(../images/fire_red.png);
    background-repeat: no-repeat;
    background-size: 100%, 300px, 120px, 200px, 200px;
    background-position: center, 5% 180px, 30% 130px, 95% 120px, 80% 220px; 
    background-blend-mode: screen ;
    padding: 200px 0px 50px 0px;    
} */

.con3 h3{text-align: center; padding-bottom: 20px;}
.con3 h1{text-align: center; font-size: 2em; padding-bottom: 50px;}


.maploc{position: relative;}
.maploc::before, .maploc::after{display: block; content: ''; clear: both;}
.map{ /*이미지 지도 전체 크기 설정 컨텐츠가 높이 기준이 됨*/
    width: 60%; height: 700px; position: relative; background-size: contain;
    background-image: url(../images/busanmap2.png); background-repeat: no-repeat;
}


.map img:nth-child(1){width: 50PX; position: absolute; left: 600px; top: 200px;}
.map img:nth-child(2){width: 50px; position: absolute; left: 540px; top: 300px;}
.map img:nth-child(3){width: 50px; position: absolute; left: 480px; top: 330px;}
.map img:nth-child(4){width: 50px; position: absolute; left: 420px; top: 340px;}
.map img:nth-child(5){width: 50px; position: absolute; left: 220px; top: 550px;}

.map img{transition: 0.2s;}
.map img:hover{transform:scale(1.2); transform-origin: center bottom;}


.loc_info{
/* width: 40%; */
position: absolute; top: 200px; right: 5%; /*내용 전체위치 변경 시 수정*****************/
width: 300px; height: 450px; 
border-radius:10px;
overflow: hidden;
box-shadow: 0px 0px 20px #5d9bae;
background-color: #fff;
text-align: center;
} 

.busan_info{
width: 100%; height: 100%;
position: relative;
}



/*기본값 대략위치*/
.busan_info_default{width: 100%; height: 100%; 
    background: url(../images/bird2.png), url(../images/kwanganbr.png); 
    background-position: 20px 20px, center 200px; 
    background-repeat: no-repeat; text-align: left; 
    background-size: auto, 100%; 
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    box-sizing: border-box;
}



/*★★★★클래스명 변경*/
.card_wave img:nth-child(1){position: absolute; bottom: 0px; left: 0; width: 100%; z-index: 2;}
.card_wave img:nth-child(2){position: absolute; bottom: 0px; left: 0; width: 100%; z-index: 3;}


.loc_img{
    width: 300px; height: 400px; 
    display: none;
    position: absolute;
    top: 0; left: 0;

}

.loc_img > img{
    height: 100%; 
    /* transform: translateX(-50%); */
}

.loc_img h3{
    position: absolute;  right: 50px; bottom: -60px; color: #fff;
    font-size: 1.2em;
    filter: drop-shadow(0,0,0,black);
    z-index: 5;
    animation: fmtop 2s ease-in-out;
}

.loc_img p{
    position: absolute;  right: 50px; bottom: -15px; 
    color: #fff; font-size: 0.8em; 
    z-index: 5;
    text-align: right;
    animation: fmbtm 2s ease-in-out;
}

@keyframes fmtop{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
@keyframes fmbtm{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}


/*★★★★각 카드에 호버시 나올 이미지 위치*/
.round_img{
    position: absolute; top: 70%; left: 30%; z-index: 6;}/* 동그란 이미지 전체 위치*/
.round_img div{    display: none;}/* 셋트 겹치기*/
.round_img img{border-radius: 10px; margin: 0 20px; background: yellow;}
.round_img img:nth-child(1){width: 100px; transform: translateY(20px);} /*높이차이*/
.round_img img:nth-child(2){width: 110px; transform: translateY(0px);}
.round_img img:nth-child(3){width: 120px; transform: translateY(-20px);}





/******************************컨텐츠4 시작***********************/

.sec4{
    background-image: url(../images/beach.png);
    background-repeat: no-repeat; width: 100%; height: 500px; 
    background-position: bottom; background-size: contain; 
    margin: 0 auto; text-align:center;
}


.sec4 h1{font-size: 2em; padding-top: 50px; 
    background-image: url(../images/bird2.png); 
    background-repeat: no-repeat; padding-bottom: 30px;}

/* 내용시작 */
.news{width: 100%; height: 330px; padding-top: 30px; box-sizing: border-box;}
.news::before,.news::after{display: block; content: ''; clear: both;}
.news div{float: left; width: 30%; margin-right: 20px; transform: translateX(35px);
border-radius: 10px; overflow: hidden; background-color: #010042; box-sizing: border-box;}

.news img{width: 100%;border-radius: 10px; transition: 1s;}
.news div h3{width: 300px; /*background-color: aquamarine; */ transform: translate(30px, 50px); color: #fff;  transition: 2s;}

.news div:hover img{transform: translateY(-15%); transition-duration: 1s;}
.news div:hover h3{transform: translate(30px, -20px); transition-duration: 1s;}


/******************************컨텐츠5 시작***********************/

.sec5::before, .sec5::after{display: '';content: none; clear: both;}
.sec5{width: 100%; height: 100px; background-color: #f5e3b1;}
.sec5 div img{float: left; width: 120px; padding-top: 30px; box-sizing: border-box;}


/*********************************footer*************************/

footer{background-color: #010042; width: 100%; height: 150px; padding-top: 30px; position: relative;}
footer::before, footer::after{display: '';content: none; clear: both;}
footer img{float: left; position: absolute; left: 25%; padding-top: 10px; height: 100px;}
footer .asso{float: left; position: absolute; left: 60%; top: 20%; padding-top: 20px; font-weight: lighter;}
.asso p{font-size: 0.8em; padding-top: 3px; color: #fff; font-family: 'Nanum Gothic', sans-serif; width: 400px;}
.asso p a{color: #fff;  font-family: 'Nanum Gothic', sans-serif;}
.email{color: #fff;}

/*********************************bx slider*************************/

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}




/**************sub aboutus******************/

.sub{background-image: url(../images/wave_top.png);
    background-repeat: no-repeat; background-size: cover; width: 100%; height: 800px;}

.hello::after, .hello::before{display:block; content: ''; clear: both;}
.hello{width: 100%; height: 600px; padding-top: 250px; position: relative;}

.hello img{float: left; width: 30%; padding-left: 50px;}
.s_right{float: left; width: 60%; padding-left: 50px; padding-top: 50px;}

.hello{width: 100%; height: 550px; position: relative;  
}
.title h3{position: absolute; top: 260px; left: 550px;}
.title > img{width: 200px; position: absolute; top: 250px; left: 500px;}


.hello > p {font-family: 'Nanum Gothic', sans-serif;}
.sign{float: right; width: 20%; padding-left: 3%; padding-top: 50px;  width: 200px; height: 150px;}
.sign span{font-family: 'Nanum Pen Script', cursive; font-size: 3em; margin-left: 10px;
    font-weight: lighter;}


/***************************location*********************************/


.sub_sec1{
    width: 100%;
    height: 400px;
    background-color: yellow;
    background: url(../images/loc_top.jpg) no-repeat;
    background-position: center;
}


.sub_menu::after, .sub_menu::before{display: block; content: ''; clear: both;}
.sub_menu li{
    float: left;
    width: 15%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    margin: 2%;
    background-color: blueviolet;
}

.sub_menu li:hover{
    background: #84c5e6;
}


.sub_sec2{
    width: 100%;
    height: 1000px;
    text-align: center;
}

